.navbar {
  z-index: 1000;
  position: fixed;
  height: 60px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to bottom, #ff4900, #ff5e00 60%, #ff7d26);
  top: 0;
  transition: top 0.3s;
  justify-content: space-between;

  img {
    margin-left: 20px;
    width: 70px;
  }
}
