<oho-navbar></oho-navbar>
<div class="wrapper">
  <div class="img-wrapper">
    <img *ngIf="product" [src]="product.image" alt="">
    <div class="stoplight" (click)="scroll(healthCheck)">
      <div class="sugar" id="sugar"><i class="fal fa-candy-cane"></i></div>
      <div class="salt" id="salt"><i class="fal fa-mortar-pestle"></i></div>
      <div class="allergens" id="allergens"><i class="fal fa-allergies"></i></div>
    </div>
  </div>
  <div class="information">
    <span class="price">{{ product?.price?.toFixed(2) }} Fr.</span>
    <h1>{{ product?.name }}</h1>
    <p [innerHTML]="product?.description"></p>
    <span class="ingredients"><i class="fal fa-clipboard-list"></i> <p>{{ product?.ingredients }}</p></span>
    <div class="allergens">
      <i class="fal fa-allergies"></i>
      <span>
          <p>Im Pordukt enthaltene Allergene (für Sie kritische, werden rot gekennzeichnet)</p>
    <div *ngFor="let allergen of product?.allergens">
      <p *ngIf="isInAllergen(allergen.code); else notInAllergen" class="is-in-allergen">{{ allergen.name }}</p>
      <ng-template #notInAllergen>
        <p>{{ allergen.name }}</p>
      </ng-template>
    </div>
    <p *ngIf="product?.allergens.length === 0" class="safe">Dieses Produkt enthält keinerlei Allergene.</p>
        </span>
    </div>
    <div class="categories">
      <i class="fal fa-bookmark"></i>
      <div class="cat">
        <mat-chip-list class="chips">
          <mat-chip
            *ngFor="let category of product?.categories"
            color="secondary">
          {{ category.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <span class="health" id="health-check" #healthCheck>
      <i class="fal fa-heartbeat"></i>Health Check
    </span>
    <p>
      Beim Health Check, beurteilen wir, wie Gesund ein Produkt ist. Dazu benutzen wir einen Richtwert, der vom WHO definiert wurde.
      Wir gehen beim Health Check vom Salz und Zucker Gehalt aus.
    </p>
    <a href="https://www.who.int/mediacentre/infographic/salt-reduction/en/" target="_blank" class="health-check-link"><i class="fal fa-arrow-right"></i>Zum WHO Artikel</a>
    <span class="recommendations">
      <i class="fal fa-salad"></i>Empfohlene Produkte
    </span>
    <p>
      Vergleichbare Produkte welche keine für Sie relevanten Allergene enthalten:
    </p>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Produkte
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card *ngFor="let recommendation of recommendations" (click)="switchToProduct(recommendation.id)">
            <mat-card-header>
              <mat-card-title>{{recommendation.name}}</mat-card-title>
            </mat-card-header>
            <div class="card-img-wrapper">
              <img src="{{recommendation.image.original}}" [alt]="recommendation.name">
            </div>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
