<div class="wrapper">
  <div class="title">
    <span>OHO</span>
    <p>ah to oho in a few clicks - en Guete zäme</p>
  </div>

    <input type="file" name="file" accept="image/*;capture=camera" (change)="handleFileInput($event.target.files)" id="file" style="visibility: hidden">
    <label for="file" class="camera" >
      <i class="fal fa-camera"></i>
      <p>press to scan</p>
    </label>

  <div class="navigation">
    <i class="fal fa-home"></i>
    <i class="fal fa-hat-chef"></i>
    <i class="fal fa-cog"></i>
  </div>
</div>

