<oho-navbar></oho-navbar>
<div class="product-list-wrapper">
  <mat-spinner *ngIf="loading && !blindMode">

  </mat-spinner>
  <div *ngIf="!loading">
    <mat-card *ngFor="let product of products" [routerLink]="['/product/', product.id]">
      <mat-card-header>
        <mat-card-title>{{product.name}} <br></mat-card-title>
        <mat-card-subtitle>{{product.description | truncate : 100 : true : '...' }}</mat-card-subtitle>
        <div mat-card-avatar class="product-list-image" style="width: 50px;" [style.backgroundImage]="'url(' + product.image + ')'"></div>
      </mat-card-header>
    </mat-card>
  </div>

  <div id="app" *ngIf="blindMode">
    <video id="webcam" #video autoplay playsinline capture="environment" width="100%" height="auto"></video>
  </div>
</div>
