<oho-navbar></oho-navbar>
<div class="product-list-wrapper">
  <mat-spinner *ngIf="loading && !blindMode">

  </mat-spinner>
  <div *ngIf="!loading">
    <mat-card *ngFor="let product of products" [routerLink]="['/product/', product.id]">
      <mat-card-header>
        <img style="width: 50px" src="{{product.image}}" [alt]="product.name">

        <mat-card-title><b>product:</b> {{product.name}} <br></mat-card-title>
        <mat-card-subtitle><b>description:</b> {{product.description}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <!--  <div id="app" *ngIf="blindMode">-->
  <video id="webcam" #video autoplay playsinline width="640" height="480"></video>
  <canvas id="canvas" #canvas class="d-none"></canvas>
  <audio id="audio" #audio></audio>
  <!--  </div>-->
</div>
