<oho-navbar></oho-navbar>
<div class="product-list-wrapper">
  <mat-spinner *ngIf="loading && !blindMode">

  </mat-spinner>
  <div *ngIf="!loading">
    <mat-card *ngFor="let product of products" [routerLink]="['/product/', product.id]">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <img src="{{product.image}}" [alt]="product.name">
    </mat-card>
  </div>

  <div id="app" *ngIf="blindMode">
    <video id="webcam" #video autoplay playsinline capture="environment" width="100%" height="auto"></video>
  </div>
</div>
