<div id="myNav" class="overlay">
  <div class="closebtn" (click)="closeNav()"></div>
  <div class="overlay-content">
    <div class="nav-item">
      <a href="home" id="o-home">Home</a>
    </div>
    <div class="nav-item">
      <a href="about-us" id="o-about-us">About us</a>
    </div>
    <div class="nav-item">
      <a href="contact-us" id="o-contact-us">Contact us</a>
    </div>
  </div>
  <div class="bottom">
    <p>© 2020 OHO. All Rights Reserved.</p>
  </div>
</div>

<div class="nav-trigger" (click)="openNav()">
  <i class="fas fa-bars"></i>
</div>
