<div id="myNav" class="overlay">
  <div class="closebtn" (click)="closeNav()">
    <i class="fal fa-times"></i>
  </div>
  <div class="overlay-content">
    <div class="nav-item">
      <a href="/" id="o-home">Home</a>
    </div>
    <div class="nav-item">
      <a href="settings" id="o-contact-us">Settings</a>
    </div>
  </div>
  <div class="bottom">
    <p>© 2020 Migros. All Rights Reserved.</p>
  </div>
</div>

<div class="nav-trigger" (click)="openNav()">
  <i class="fal fa-bars"></i>
</div>
