/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-pro/css/all.min.css";

@font-face {
  font-family: 'nirmala';
  src: url('assets/nirmala.ttf'); /* IE9 Compat Modes */
}

html, body { height: 100%; }
body { margin: 0; font-family: nirmala !important; }
